.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
     
  }
  
  .modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
  }
  
  .modal-content h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #333333;
  }
  
  .modal-content form input,
  .modal-content form textarea,
  .modal-content form select {
    width: 95%;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  .modal-content form select{
    width: 98%;

  }
  
  .modal-content form button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .modal-content .modal-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .modal-content .modal-actions button:first-child {
    background-color: #007bff;
    color: white;
  }
  
  .modal-content .modal-actions button:first-child:hover {
    background-color: #0056b3;
  }
  
  .modal-content .modal-actions button:last-child {
    background-color: #6c757d;
    color: white;
  }
  
  .modal-content .modal-actions button:last-child:hover {
    background-color: #5a6268;
  }
  